---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À propos | Matéo Galopin" description="À propos | Matéo Galopin">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos"
				tagline="Découvrez mon parcours et mes compétences."
			>
			<p></p>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Passionné par la cybersécurité depuis ma formation POEC Développeur en cybersécurité, je souhaite débuter un alternance. 
						En 2022, j’ai interrompu mon Master Images et Données Multimédia ne me voyant pas évoluer professionnellement
						dans ces secteurs. Cependant, ayant toujours été intéressé par l’informatique, je suis entré dans le monde
						du travail en qualité de développeur web full stack pour une entreprise caennaise. Dernièrement, j’ai eu
						l’opportunité de me former sur les fondamentaux de la cybersécurité pour lesquels j’ai développé un
						véritable intérêt.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Diplômes</h2>
				<div class="content">
					<p>DUT et Licence 3 Informatique.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Savoir-être</h2>
				<div class="content">
					<p>Linux, Pentest, OWASP, Wireshark, BurpSuite</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Savoir-être</h2>
				<div class="content">
					<p>Capacité d’adaptation, Travail en équipe</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
